body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 5% 10%;
    background-color: #f4f4f4;
}

.title1{
    font-size: 2em;
    text-align: center;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    justify-self: center;
    max-width: 400px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #A57F2D;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

button:hover {
    color: #611332;
}

.options{
    color: black;
}

#qr {
    justify-self: center;
    max-width: 600px;
    border-color: #611332;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#home {
    justify-self: center;
    max-width: 600px;
    border-color: #611332;
    border-width: 2px;
    border-radius: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#container {
    align-items: center;
    display: grid;
    justify-self: center;
    max-width: 600px;
    border-color: #611332;
    /*border-style: solid;*/
    border-width: 2px;
    border-radius: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#downloadExcel{
    justify-self: center;
    max-width: 600px;
    background-color: #A57F2D;
    border-color: #611332;
    border-width: 2px;
    border-radius: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}